@import "variables";
@import "new-timeline";

.content {
    margin: 10px auto; // center picture in middle of screen
    display: flex;
    flex-direction: row;

    a:hover {
        text-decoration: underline;
        .no-underline {
            text-decoration: none;
        }
    }

    ol {
        counter-reset: list;
        padding: 0 30px 0 30px;

        & > li {
            list-style-position: none;
            position: relative;
            list-style: none;
            margin-top: 5px;
            margin-bottom: 5px;
        }

        & > li:before {
            content: "[" counter(list, decimal) "] ";
            counter-increment: list;
            position: absolute;
            left: -30px;
        }
    }

    ul {
        padding: 0 20px 0 20px;;
        
        & > li {
            margin: 5px 0 5px 0;
        }
    }


    blockquote {
        border-left: 5px solid #333333;
        margin: 20px 0 20px 0;
        padding: 2px 8px 2px 8px;
        font-style: italic;
    }

    .force-in-line{
        width: 100%;
        @media (max-width: 769px) {
            width: 100vw;
            display: inline-block;
            margin: 0 auto; // center picture in middle of screen
            float: unset;
            text-align: center;
            flex-direction: column;
            left: auto; // make left transformation here
            padding: 0 20px 0 20px; // T R B L
        }
        a {
            display: block;
            @media (max-width: 769px) {
                display: inline-block;
            }

        }
    }

    .fa, .fa-solid {
        padding-left: 20px;
        margin-top: 5px;// increase spacing vertical spacing between icons
        text-decoration: none;
        
        @media (max-width: 769px) {
            padding-top: 20px;
        }
    }

    .fa-text {
        font-family: Inconsolata;
    }

    .text { // for text in contact information
        @media (max-width: 769px) {
            display: block;
        }
        font-size: .9em;
    }

    .fa-twitter {
        color: #1DA1F2;
      }
    .fa-github {
        color: #171515;
      }
    .fa-linkedin-square {
        color: #0077B5;
      }
    .fa-file {
        color: black;
    }

    // For columns in site

    .column {
        position: relative;
    }

    .picture-column {
        width: 35%;
        padding: 0 30px 0 0;

        .profile-picture {
            object-fit: contain;

            p & {
                padding: 0;
                margin: 0;
            }

            @media (max-width: 769px) {
                margin: 10px auto; // center picture in middle of screen
                float: unset;
                text-align: center;
                padding: 0 0 0 0;

                img {
                    margin-top: 10px;
                }
            }
        }
        @media (max-width: 769px) {
            margin: 0 auto; // center picture in middle of screen
            float: unset;
            text-align: center;
            padding-right: 0;
            width: 100%;
        }
    }

    .text-column { 
        float: right;
        // flex-direction: column;
        width: 95%;
        // position: absolute;
        padding-right: 10px;
        @media (max-width: 769px) {
            margin: 0 auto; // center picture in middle of screen
            // float: unset;
            text-align: left;
            width: 100%;
        }
    }

    @media (max-width: 769px) {
        flex-direction: column;
    }

}
