<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}

    {% include fonts.html %}
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }} RSS" href="/feed.xml" />
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/lib/Font-Awesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/lib/Font-Awesome/css/regular.min.css">
    <link rel="stylesheet" href="~/lib/Font-Awesome/css/solid.min.css">

    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=TRACKING_ID"></script>

    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-HK6QKBXJ34');
    </script>

    <!-- LaTeX in markdown -->
    <script
      src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"
      type="text/javascript">
    </script>

    <!-- For logo at top of webpage -->
    <link rel="icon" href="assets\img\mason-circle.png">
</head>
<body>
    <div class="wrapper">
        <header class="navbar">
            <nav class="container" role="navigation" aria-label="Main navigation">
                <a class="navbar-title alignable pull-left" href="{{ "/" | absolute_url }}">{{ site.title }}</a>
                {% if site.show_downloads %}
                <div class="downloads">
                    <a class="downloads-item" href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a>
                    <a class="downloads-item" href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a>
                    <a class="downloads-item" href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a>
                </div>
                {% endif %}

                {% include nav.html %}
            </nav>
        </header>



        <main class="content">
          <div class="column picture-column">
            <div class="profile-picture">
              <img src="./assets/img/mason-circle.png" alt="photo" width="250"/>
            </div>
            <div class="force-in-line">
              <!-- Using svg file instead of the fa object -->
              <a href="https://scholar.google.com/citations?hl=en&view_op=list_works&gmla=AJsN-F6zKU8WZCiIDb63Q6b5SlRTawQgAvJqvNrr8RPEWdS8uZo2MzBbb6SX3YXZcfmCwxKeYK5uyCb7MHGiD-DOgJZBrU8t0A&user=bhgoq0IAAAAJ"><img src=assets\img\google-scholar.svg class="fa" width=30px /><span style="padding-left: 5px;">Google Scholar</span></a>
              
              <a href="https://github.com/MasonN808"><i class="fa fa-github fa-2x"></i><span style="padding-left: 7px;">GitHub</span></a>

              <a href="https://twitter.com/MasonNaka"><i class="fa fa-twitter fa-2x"></i><span style="padding-left: 5px;">Twitter</span></a>

              <a href="https://www.linkedin.com/in/mason-n-789196197/"><i class="fa fa-linkedin-square fa-2x"></i><span style="padding-left: 7px;">LinkedIn</span></a>
              
              <!-- Using svg file instead of the fa object -->
              <a href="https://drive.google.com/file/d/1dR_hCiPjSvBtiblgiwWkcNf49zzstMWd/view?usp=share_link"><img src=assets\img\resume-svgrepo-com.svg class="fa" width=30px /><span style="padding-left: 5px;">Curriculum Vitae</span></a>
              
              <!-- <br> -->
              <span class="fa fa-text">
                Email:&nbspmason.nakamura1@marist.edu
              </span>
            </div>
          </div>
          <div class="column text-column">
            <div class="container">
            {{ content }}
            </div>
            <!-- TIMELINE START -->
              <!-- <div class="timeline-area">
                <div class="container"> -->
                  <!-- <div class="timelines">
                    <h2>Timeline</h2>
                  </div> -->
                 
                  <div class="container">
                    <br>
                    <h1>News</h1>
                  <div class="item">
                    <div id="timeline">
                      <div>
                        <section class="year">
                          <h3>2023</h3>
                          <section>
                            <h4>March</h4>
                            <ul>
                              <li>I accepted a computer science MS/PhD offer at UMass Amherst at the Resource-Bounded Reasoning Lab directed by Shlomo Zilberstein.</li>
                            </ul>
                          </section>     
                        </section>
                        <section class="year">
                          <h3>2022</h3>
                          <section>
                            <h4>May-November</h4>
                            <ul>
                              <li>Visiting scholar at the Center for Human-Compatible AI (CHAI) at UC Berkeley on Metareasoning.</li>
                            </ul>
                          </section>
                          <section>
                            <h4>March</h4>
                            <ul>
                              <li>Our paper on Counting Triangles with Combinatorics was <b>accepted</b> into MAA Mathematics Magazine.</li>
                            </ul>
                          </section>
                        </section>
                        <section class="year">
                          <h3>2021</h3>
                          <section>
                            <h4>May-August</h4>
                            <ul>
                              <li>Visiting scholar at Moravian University as part of an NSF REU on computational methods in discrete mathematics working on extremal graph theory.</li>
                            </ul>
                          </section>
                        </section>
                        <section class="year">
                          <h3>2020</h3>
                          <section>
                            <h4>May-August</h4>
                            <ul>
                              <li>Visiting scholar at Michigan State University as part of an NSF REU on experimental mathematics working on geometric deep learning</li>
                            </ul>
                          </section>
                      </div>
                    </div>
                  <!-- <!-- </div> -->
                </div>
            </div>
          </div>
        </main>

        

		{% if site.footer %}
        <footer class="footer">
            <div class="container">
                <p>
                    <a href="{{ site.footer_url }}">
                        <small>{{ site.footer }}</small>
                    </a>
                </p>
            </div>
        </footer>
        {% endif %}
            
    </div>

    {% include analytics.html %}
</body>
<footer>
</footer>
